<link rel="stylesheet" href="./footer.component.css" type="text/css" />
<footer class="page-footer">
    <div class="wrapper">
        <div class="footer-col">
            <h3>About</h3>
            <ul>
                <li>Privacy Notice</li>
                <li>Terms of Use</li>
                <li>Fraud Warning</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Get Involved</h3>
            <ul>
                <li>Work with Us</li>
                <li>Subscribe for Newsletter</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Hotline</h3>
            <h2><mat-icon>phone</mat-icon> (+2) 19909</h2>
        </div>
        <div class="footer-col social">
            <h3>Socials</h3>
            <ul>
                <li><a href="https://www.facebook.com/allianzegyptofficial/" class="fb"><mat-icon style="margin-top: 10px;">facebook</mat-icon></a></li>
            </ul>
            <p class="copy">© 2017. Allianz. All Rights Reserved</p>
        </div>
    </div>
</footer>