<link rel="stylesheet" href="./package-selection.component.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">

<h2 id="title" style = "font-family: 'Cairo', sans-serif;">choose the right cover that fits your needs </h2> 

<h1 style="text-align: center; font-family: 'Cairo', sans-serif;">We offer tailored solutions for individual needs to provide you with the best possible insurance for your situation.</h1>

<div class="hover-table-layout"  >

    <div class="listing-item"  ><a href="/dataconfirm"></a>
        <figure class="image"  >
            <img src="https://s3-eu-west-1.amazonaws.com/wuzzuf/files/company_logo/Allianz-Egypt-27625-1515057438.jpg" alt="image">
            <figcaption>
              <div class="caption">
                <h1>First Class</h1>
                <p>378 EGP</p>
                </div>
            </figcaption>
        </figure>
        <div class="listing">
            <h4>Show catalogue listing</h4>
            <h4>Email signatures and banners</h4>
            <h4>E-invitations</h4>
            <h4>Online brochures</h4>
        </div>
        <button mat-button matStepperNext style="margin-left: 80px;">BUY NOW</button>
    </div>
    <div class="listing-item">
        <figure class="image">
            <img src="https://s3-eu-west-1.amazonaws.com/wuzzuf/files/company_logo/Allianz-Egypt-27625-1515057438.jpg" alt="image">
            <figcaption>
               <div class="caption">
                <h1>Business</h1>
                <p>232 EGP</p>
                </div>
            </figcaption>
        </figure>
        <div class="listing">
            <h4>Press releases</h4>
            <h4>Company logos for online listings</h4>
            <h4>Product categories</h4>
            <h4>Using the ADIPEC logo on exhibitor advertising</h4>
            <h4>Commercial opportunities in the preview and show dailies</h4>
        </div>
        <button mat-button matStepperNext style="margin-left: 80px;">BUY NOW</button>
    </div>
    <div class="listing-item">
        <figure class="image">
            <img src="https://s3-eu-west-1.amazonaws.com/wuzzuf/files/company_logo/Allianz-Egypt-27625-1515057438.jpg" alt="image">
            <figcaption>
               <div class="caption">
                <h1>Economy</h1>
                <p>162 EGP</p>
                </div>
            </figcaption>
        </figure>
        <div class="listing">
            <h4>Mobile app listing</h4>
            <h4>Order visitor badges</h4>
            <h4>Global meetings programme</h4>
            <h4>Get Social</h4>
        </div>
        <button mat-button matStepperNext style="margin-left: 80px;">BUY NOW</button>
    </div>
</div>